.main-flex-container{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.sidebar-box{
    width: 20%;
    background-color: white;
    border: 2px solid black;
}

.content-box{
    width: 70%;
    background-color: #fff;
    border: 2px solid black;
}